<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Rohan Agarwal</title>
  <!-- web fonts -->
  <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
  <!-- //web fonts -->
  <!-- Template CSS -->
  <link rel="stylesheet" href="static/css/style-starter.css">
  <link rel="stylesheet" href="static/css/mystyles.css">
</head>

<body>

  <section class="w3l-bootstrap-header">
    <nav class="navbar navbar-expand-lg navbar-light py-lg-3 py-2">
      <div class="container">
        <a class="navbar-brand" href="index.html"> My Profile</a>
        <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Services</a>
            </li>


            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </section>

  <!--  Main banner section -->
  <section class="w3l-main-banner" id="home">
    <div class="companies20-content">
      <div class="companies-wrapper">
        <div class="item">

          <div class="slider-info banner-view text-center">
            <div class="banner-info container">
              <img src="static/images/c1.jpg" alt="about image" class="img-fluid profile-pic" style="height: 150px;">
              <h3 class="banner-text mt-5">Hello, I’m Rohan Agarwal</h3>
              <div class="footer-29 text-center" style="padding-top: 4%;">
                <div class="container">

                  <div class="main-social-footer-29">

                    <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                    <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                    <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                    <!-- <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a> -->
                    <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                  </div>
                </div>
              </div>
              <p class="my-4 mb-5">IIT BHU || Programmer || Web Developer</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <div class="products-4" id="portfolio">
    <!-- Products4 block -->
    <div id="products4-block" class="text-center">
      <div class="container">
        <div class="heading text-center mx-auto mb-5">
          <h3 class="head">ALL ABOUT MYSELF</h3>
          <p class="my-3 head">
            I am a student at IIT BHU and aspiring to become a full stack web developer.
          </p>
        </div>
        <input id="tab1" type="radio" name="tabs" checked>
        <label class="tabtle" for="tab1">My Skills</label>

        <input id="tab2" type="radio" name="tabs">
        <label class="tabtle" for="tab2">Technologies</label>

        <input id="tab3" type="radio" name="tabs">
        <label class="tabtle" for="tab3">Projects</label>

        <!-- <input id="tab4" type="radio" name="tabs">
        <label class="tabtle" for="tab4">Website</label> -->


        <!-- Technologies -->
        <section id="content2" class="tab-content text-left">
          <div class="technologies">
            <div class="row">
              <div class="col-lg-3 col-6">
                <div class="technology-box">

                  <img src="static/images/icons/front.png" class="img-responsive" alt="" />

                  <p>Front-end</p>
                </div>
              </div>
              <div class="col-lg-3 col-6">
                <div class="technology-box">
                  <figure>
                    <img src="static/images/icons/back.png" class="img-responsive" alt="" />
                  </figure>
                  <p>Back-end</p>
                </div>
              </div>
              <div class="col-lg-3 col-6">
                <div class="technology-box">
                  <figure>
                    <img src="static/images/icons/languages.png" class="img-responsive" alt="" />
                  </figure>
                  <p>Languages</p>
                </div>
              </div>
              <div class="col-lg-3 col-6">
                <div class="technology-box">
                  <figure>
                    <img src="static/images/icons/ml.png" class="img-responsive" alt="" />
                  </figure>
                  <p>Machine Learning</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="d-grid grid-col-3">
            <div class="product">
              <a href="static/images/g1.jpg" data-lightbox="example-set"
                data-title="Bootstrap">
                <figure>
                  <img src="static/images/icons/bs.png" class="img-responsive" alt=""/>
                </figure>
              </a>

            </div>
            <div class="product">
              <a href="static/images/g2.jpg" data-lightbox="example-set"
                data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                <figure>
                  <img src="static/images/icons/node.png" class="img-responsive" alt="" />
                </figure>
              </a>

            </div>
            <div class="product">
              <a href="static/images/g3.jpg" data-lightbox="example-set"
                data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                <figure>
                  <img src="static/images/icons/python.png" class="img-responsive" alt="" />
                </figure>
              </a>

            </div>


          </div> -->
        </section>

        <section id="content1" class="tab-content text-left">
          <div class="skills">
            <div class="row">
              <div class="col-lg-3 col-6">
                <div class="skills-box">

                  <img src="static/images/software.jpg" class="img-responsive" alt="" />

                  <p>Software Development</p>
                </div>
              </div>
              <div class="col-lg-3 col-6">
                <div class="skills-box">
                  <figure>
                    <img src="static/images/web.jpg" class="img-responsive" alt="" />
                  </figure>
                  <p>Web Development</p>
                </div>
              </div>
              <div class="col-lg-3 col-6">
                <div class="skills-box">
                  <figure>
                    <img src="static/images/dl.jpg" class="img-responsive" alt="" />
                  </figure>
                  <p>Deep Learning</p>
                </div>
              </div>
              <div class="col-lg-3 col-6">
                <div class="skills-box">
                  <figure>
                    <img src="static/images/cv.jpg" class="img-responsive" alt="" />
                  </figure>
                  <p>Computer Vision</p>
                </div>
              </div>
            </div>
        </section>

        <section id="content3" class="tab-content text-left">
          <div class="d-grid grid-col-3">
            <div class="product">
              <a href="static/images/saereactimage.png" data-lightbox="example-set"
                data-title="SAE CLub's website using React">
                <figure>
                  <img src="static/images/saereactimage.png" class="img-responsive" alt="" />
                </figure>
              </a>
              <p>Website with React</p>

            </div>
            <div class="product">
              <a href="static/images/detection.png" data-lightbox="example-set"
                data-title="Underwater object detection using python's pytorch framework">
                <figure>
                  <img src="static/images/detection.png" class="img-responsive" alt="" />
                </figure>
              </a>
              <p>Underwater Object Detection</p>

            </div>
            <div class="product">
              <a href="static/images/personal.png" data-lightbox="example-set"
                data-title="My personal website sing HTML/CSS/JS and Flask">
                <figure>
                  <img src="static/images/personal.png" class="img-responsive" alt="" />
                </figure>
              </a>
              <p>My personal Website</p>

            </div>
          </div>
        </section>

        <section id="content4" class="tab-content text-left">
          <div class="d-grid grid-col-3">
            <div class="product">
              <a href="static/images/g8.jpg" data-lightbox="example-set"
                data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                <figure>
                  <img src="static/images/g8.jpg" class="img-responsive" alt="" />
                </figure>
              </a>

            </div>
            <div class="product">
              <a href="static/images/g1.jpg" data-lightbox="example-set"
                data-title="Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam architecto, ex veritatis">
                <figure>
                  <img src="static/images/g1.jpg" class="img-responsive" alt="" />
                </figure>
              </a>

            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- Products4 block -->
  </div>
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/lightbox-plus-jquery.min.js"></script>


  <!-- grids block 5 -->

  <!-- // grids block 5 -->
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <!-- //footer-28 block -->
  </section>

  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

  <section id="experience" class="services-12" >
    <div class="form-12-content">
      <div class="container">
        <div class="grid grid-column-2 ">

          <div class="column2">
            <h3 class="mb-5">Education</h3>
            <div class="experience-top">
              <h5>2018-present</h5>
              <h4>B.Tech in mechanical engineering, IIT BHU</h4>
              <p class="my-3 text-white">
                Studied mechanical engineering at IIT BHU, Varanasi<br>
                Grade point: 9.53 CPI<br>
                Skills Gained: Web development, Python, C++
              </p>
            </div>
            <div class="experience-top">
              <h5>2015-2017</h5>
              <h4>Intermediate, Sri chaitanya IIT Academy</h4>
              <p class="my-3 text-white">
                Studied PCM at sri chaitanya IIT Academy<br>
                Percentage in 12th: 93.4%<br>
                Skills Gained: Mathematics
              </p>
            </div>

            <div class="experience-top">
              <h5>2008-2015</h5>
              <h4>Matric, Koncept Public School</h4>
              <p class="my-3 text-white">
                Studied at sri chaitanya IIT Academy<br>
                Grade Point in 10th: 10 CGPA
              </p>
            </div>
          </div>
          <div class="column1">
            <h3 class="mb-5">Experiences</h3>
            <div class="experience-top">
              <h5>Sep 2019 - May 2020</h5>
              <h4>Team Swayatt</h4>
              <p class="my-3 text-white">
                Being a part of the computer vision team that developed software for recognising obstacles
                in underwater
                images. Learned
                to implement Mask-RCNN and image enhacement techniques on real time images.
              </p>
            </div>
            <div class="experience-top">
              <h5>Dec 2018 - May 2019</h5>
              <h4>Society of automotive engineers, IIT BHU</h4>
              <p class="my-3 text-white">
                Being a part of the SAE Club, manufactured a remote controlled internal combustion engine
                car. Organized various workshops, events
                and quizzes for participants.
              </p>
            </div>
            <div class="experience-top">
              <h5>Dec 2018 - May 2019</h5>
              <h4>Events Team, MES</h4>
              <p class="my-3 text-white">
                Organised events for members, conducted sessions on development, designing and matlab
                softwares.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Smooth scrolling -->
  <section class="w3l-testimonials content-mobile" id="testimonials">
    <div class="customers-6-content py-5">
      <div class="py-lg-3">
        <div id="customerhnyCarousel" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#customerhnyCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#customerhnyCarousel" data-slide-to="1"></li>

          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner pb-5">

            <div class="carousel-item active">
              <div class="services-12">
                <div class="form-12-content">
                  <div class="container">
                    <div class="grid grid-column-2 ">


                      <div class="column1">
                        <h3 class="mb-5">Education</h3>
                        <div class="experience-top">
                          <h5>2018-present</h5>
                          <h4>B.Tech in mechanical engineering, IIT BHU</h4>
                          <p class="my-3 text-white">
                            Studied mechanical engineering at IIT BHU, Varanasi<br>
                            Grade point: 9.53 CPI<br>
                            Skills Gained: Web development, Python, C++
                          </p>
                        </div>
                        <div class="experience-top">
                          <h5>2015-2017</h5>
                          <h4>Intermediate, Sri chaitanya IIT Academy</h4>
                          <p class="my-3 text-white">
                            Studied PCM at sri chaitanya IIT Academy<br>
                            Percentage in 12th: 93.4%<br>
                            Skills Gained: Mathematics
                          </p>
                        </div>
            
                        <div class="experience-top">
                          <h5>2008-2015</h5>
                          <h4>Matric, Koncept Public School</h4>
                          <p class="my-3 text-white">
                            Studied at sri chaitanya IIT Academy<br>
                            Grade Point in 10th: 10 CGPA
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!--.item-->

            <div class="carousel-item">
              <div class="services-12">
                <div class="form-12-content">
                  <div class="container">
                    <div class="grid grid-column-2 ">

                      <div class="column2">
                        <h3 class="mb-5">Experiences</h3>
                        <div class="experience-top">
                          <h5>Sep 2019 - May 2020</h5>
                          <h4>Team Swayatt</h4>
                          <p class="my-3 text-white">
                            Being a part of the computer vision team that developed software for recognising obstacles
                            in underwater
                            images. Learned
                            to implement Mask-RCNN and image enhacement techniques on real time images.
                          </p>
                        </div>
                        <div class="experience-top">
                          <h5>Dec 2018 - May 2019</h5>
                          <h4>Society of automotive engineers, IIT BHU</h4>
                          <p class="my-3 text-white">
                            Being a part of the SAE Club, manufactured a remote controlled internal combustion engine
                            car. Organized various workshops, events
                            and quizzes for participants.
                          </p>
                        </div>
                        <div class="experience-top">
                          <h5>Dec 2018 - May 2019</h5>
                          <h4>Events Team, MES</h4>
                          <p class="my-3 text-white">
                            Organised events for members, conducted sessions on development, designing and matlab
                            softwares.
                          </p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>
          <!--.carousel-inner-->
        </div>
      </div>
    </div>
    <!--//customers -->
  </section>

  <section class="w3l-footer-29-main" id="footer">
    <div class="footer-29 text-center">
      <div class="container">

        <div class="main-social-footer-29">

          <a href="https://www.facebook.com/rohan.agarwal.100483/" class="facebook"><span class="fa fa-facebook"></span></a>
          <a href="https://twitter.com/Rohanagarwal286" class="twitter"><span class="fa fa-twitter"></span></a>
          <a href="https://www.instagram.com/rohan_agarwal_insta/" class="instagram"><span class="fa fa-instagram"></span></a>
          <!-- <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a> -->
          <a href="https://www.linkedin.com/in/rohan-agarwal-578aba14a/" class="linkedin"><span class="fa fa-linkedin"></span></a>
        </div>
        <div class="bottom-copies text-center">
          <p class="copy-footer-29">© 2020 Rohan Agarwal. All rights reserved </p>

        </div>
      </div>
    </div>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
      <span class="fa fa-angle-up"></span>
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>
  <script src="static/js/my-javascript.js"></script>

</body>

</html>
<!-- // grids block 5 -->